[Desktop Entry]
Exec=/usr/sbin/configure-freenx
Name[de]=NX Server starten
Name=Start NX server
Icon=/usr/NX/share/icons/nx.png
Type=Application
Terminal=1
