[Desktop Entry]
Exec=kanotix-su /usr/sbin/nxsetup-kanotix
Name[de]=NX Server starten
Name=Start NX server
Icon=/usr/NX/share/icons/nx.png
Type=Application
Terminal=1
