Source: configure-freenx
Section: net
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: configure-freenx
Architecture: all
Depends: freenx (>=0.4.4), su-me, sidux-xdg
Description: Simple frontend for FreeNX
 configure-freenx provides a userfriendly dialog and creates a unpriviledged 
 nxuser user for use with NX.
